{"cloudSettings":{"token":""},"javaSettings":{},"physicsSettings":{"filtersEditor":{"depth":0,"open":false,"visible":true},"layers":[{"guid":"ac85f82190894e0381b878518d609d80","ignoreLayers":[],"inspectorEditor":{"depth":0,"open":false,"visible":true},"isDefault":true,"name":"Default"}],"layersEditor":{"depth":0,"open":false,"visible":true}},"tab":"Cloud"}